body {
	margin: 0;
	overflow: hidden;
	background-color: black;
	color:white;
}

#btn-delete-post {
	margin-top: 20px;
}

.media-footer {
	float: right;
}

.confirm-delete-btn {
	text-align: right;
}

.confirm-delete-btn .btn {
	margin-right: 10px;
}

.group-welcome {
	margin-top: 30px;
}

#navbar {
	margin-bottom: 50px;
}

.col-md-8 {
	margin-top: 60px;
}