{% extends 'groups/group_base.html' %}

{% block pregroup %}
	<div class="container">
		<h3> {{group.name}} </h3>
		<h4> Total member: {{group.members.count}} </h4> <!-- .count method -->
	
		<div class="content">
	
			{% if user in group.members.all %}
			<a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-danger" role="button">
				<i class="bi bi-person-x-fill"> Leave </i>
			</a>
			{% else %}
			<a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-outline-primary" role="button">
				<i class="bi bi-person-plus-fill"> Join </i>
			</a>
			{% endif %}
	
		</div>
	</div>
{% endblock %}


{% block group_content %}
	<div class="col-md-8">
		{% if group.posts.count == 0 %}
		<h5 style="margin-top: 20px; color:darkgrey;">No posts in this group yet!</h5>

		{% else %}
			{% for post in group.posts.all %}
				{% include "posts/_post.html" %}
			{% endfor %}

		{% endif %}
	</div>
{% endblock %}