{% extends 'groups/group_base.html' %}

{% block content %}
<h2> {{group.name}} </h2>
<h3> Total member: {{group.members.count}} </h3> <!-- .count method -->

<div class="content">

	{% if user in group.members.all %}
		<a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-outline-warning">
			Leave <i class="fa-regular fa-user-xmark"></i>
		</a>
	{% else %}
		<a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-outline-primary">
			Join <i class="fa-regular fa-users-medical"></i>
		</a>
	{% endif %}

</div>
{% endblock %}

{% block group_content %}
<div class="col-md-8">

	{% if group.posts.count ==0 %}
		<h3> No post in group yet! </h3>

	{% else %}
		{% for post in group.posts.count %}
			{% include 'posts/_post.html' %} <!-- to inject _post.html file -->
		{% endfor %}

	{% endif %}

</div>